.carousel-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 25px;
  }
  
  .main-image {
    margin-bottom: 30px;
  }
  
  
  .main-image img{
    border-radius: 20px;
  }

  .thumbnail-navigation {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333; /* Ensure visibility */
  }

  .nav-button:disabled {
    color: #ccc; /* Dim color when disabled */
    cursor: not-allowed;
  }
  
  .thumbnail-container {
    display: flex;
    gap: 10px;
    overflow: hidden;
  }
  
  .thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
  
  .thumbnail.selected {
    border-color: #007bff;
  }
  .divder{
    height: 3px;
    background-color: #333; 
    margin: 10px 0;
    width: 100%;
    border: none;
  }